<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation web.config, consultez la page http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Dans l'exemple ci-dessous, la transformation "SetAttributes" changera la valeur de 
    "connectionString" afin d'utiliser "ReleaseSQLServer" uniquement lorsque le localisateur "Match" 
    trouve un attribut "name" qui a une valeur "MyDB".     -->
  <!--<connectionStrings>
    <add name="ALMS_PROD_PRDConnectionString"
      connectionString="Data Source=cedb03,1433;Initial Catalog=ALMS_PROD_DEV;Persist Security Info=True;Integrated Security=True;User ID=sa;Password=mdpsa@SQL"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="MES_Digital_FactoryConnectionString"
      connectionString="Data Source=cedb03,1433;Initial Catalog=MES_Digital_Factory_DEV;Persist Security Info=True;Integrated Security=True;User ID=sa;Password=mdpsa@SQL"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SENSINGLABS_PRDConnectionString"
      connectionString="Data Source=cedb03,1433;Initial Catalog=SENSINGLABS_DEV;Persist Security Info=True;Integrated Security=True;User ID=sa;Password=mdpsa@SQL"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>-->

  <system.web>
    
  </system.web>
</configuration>